body {
    padding-top: 55px;
}


/*Messages at the bottom of the page*/

.sticky-alert {
    pointer-events: none;
    position: fixed;
    z-index: 1001;
    margin: auto;
    width: 100%;
    bottom: 0px;
}

.alert-transparent {
    pointer-events: none;
    background-color: rgba(50, 50, 50, 0.7);
    border-color: black;
    color: black;
}

.alert-transparent a {
    pointer-events: initial;
}

.alert-message {
    color: white;
}

.close {
    color: white!important;
}


/*Button groups for actions in tables*/

td:last-child {
    width: 1%;
    white-space: nowrap;
}

td:last-child .btn-group {
    white-space: nowrap;
    font-size: 0;
}

td:last-child .btn-group .btn {
    display: inline-block;
    font-size: 14px;
    float: none;
    clear: none;
}


/*Password screen*/

.password {
    max-width: 330px;
}

.password-body {
    padding-top: 200px;
}

.eitea-pw-logo {
    display: block;
    max-width: 100%;
    height: 100px;
    margin: auto;
}


/*Navbar*/

.eitea-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.eitea-logo img {
    display: inline-block;
    height: 40px;
}

.eitea-logo img:hover {}

ul.files {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

ul.files li {
    padding-left: 1em;
    text-indent: -1em;
    padding-bottom: 0.5em;
}

ul.files li::before {
    content: "▷";
    padding-right: 5px;
}

ul.files li:hover::before {
    content: "▶";
}

ul.files li.open::before {
    content: "◢";
}

ul.files li.open:hover::before {
    content: "◿";
}

ul.files li.file::before, ul.files li.file:hover::before {
    content: "▹";
}

.pointer:hover {
    cursor: pointer;
}

.not-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}