<!doctype html>
<html>

<head>
    <title>Neue Backup Aufgabe erstellen</title>
    {{template "imports"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Neue Backup Aufgabe erstellen</h1>
                <form action="/newbackupjob" class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label for="repoid" class="control-label col-sm-2">Archiv</label>
                        <div class="col-sm-10">
                            <select id="repoid" name="repoid" class="form-control">
                                {{range .Config.Repos}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailerror" class="control-label col-sm-2">Email</label>
                        <div class="col-sm-10">
                            <select id="mail" name="mail" class="form-control">
                                    <option value="always">Immer</option>
                                    <option value="error">Nur bei Fehler</option>
                                    <option value="never">Nie</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="schedule" class="control-label col-sm-2">Backup Planen</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="schedule" id="schedule" checked></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="repeat">
                        <label for="repeat" class="control-label col-sm-2">Wöchentliches Wiederholen</label>
                        <div class="col-sm-10">
                            <input placeholder="Intervall (Wiederhole alle n Wochen (n [1;52]))" placeholder="Intervall (Wiederhole alle n Wochen (n [1;52]))" value="1" type="number" min="1" max="52" name="interval" required class="form-control">
                            <div class="checkbox"><label><input type="checkbox" name="mon" >Montag</label></div>
                            <div class="checkbox"><label><input type="checkbox" name="tue" >Dienstag</label></div>
                            <div class="checkbox"><label><input type="checkbox" name="wed" >Mittwoch</label></div>
                            <div class="checkbox"><label><input type="checkbox" name="thu" >Donnerstag</label></div>
                            <div class="checkbox"><label><input type="checkbox" name="fri" >Freitag</label></div>
                            <div class="checkbox"><label><input type="checkbox" name="sat" >Samstag</label></div>
                            <div class="checkbox"><label><input type="checkbox" name="sun" >Sonntag</label></div>
                        </div>
                    </div>
                    <div class="form-group" id="start">
                        <label for="start" class="control-label col-sm-2">Start</label>
                        <div class="col-sm-10">
                            <input title="Sollten Sie kein interface zum Auswählen des Datums sehen, wechseln Sie ihren Browser" class="form-control"
                                type="datetime-local" name="start" value="{{timenow}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="files">Dateien</label>
                        <div class="files col-sm-10">
                            <div class="file input-group">
                                 <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" value="Save and browse Files" name="create">Durchsuchen</button><br><br>
                                </span>
                                <input class="form-control" name="files" type="text" placeholder="Full path" title="(nicht verpflichtend) Manuell Dateien hinzufügen">
                                <span class="input-group-btn">
                            <button class="btn btn-default btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" type="submit" value="Create" name="create"><span class="glyphicon glyphicon-ok"></span></button>
                                <a class="btn btn-default" href="/backupjob"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(".btn-add").click(function (e) {
            e.preventDefault()
            var clone = $(this).parents(".file").clone(true).appendTo(".files")
            clone.find(".form-control").val("")
            var btn = clone.find(".btn-add")
            btn.removeClass("btn-add").unbind("click").addClass("btn-remove").click(function (e) {
                e.preventDefault()
                var parent = $(this).closest(".file")
                parent.css("background-color", "red")
                $(this).parents(".file").remove()
            }).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus")
        })
        $(".btn-remove").click(function (e) {
            e.preventDefault()
            var parent = $(this).closest(".file")
            parent.css("background-color", "red")
            $(this).parents(".file").remove()
        }).find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus")

        $("#schedule").change(function () {
            if (this.checked) {
                $("#start").show()
                $("#repeat").show()
            } else {
                $("#start").hide()
                $("#repeat").hide()
            }
        })
    </script>
</body>

</html>