<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passwort</title>
  {{template "imports"}}
</head>

<body class="password-body">
  {{template "navbar" .}}
  <div class="container well password">
    {{with .Config.Settings}}
    <img class="eitea-pw-logo" alt="Logo" src="/staticfiles/logo.png">
    <form class="form" method="POST" autocomplete="off">
      <h2 class="">{{if eq .Password ``}}Neues Passwort erstellen{{else}}Bitte einloggen{{end}}</h2>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Passwort" required autofocus name="password"><br>        {{if eq .Password ``}}
        <input type="password" class="form-control" id="password2" placeholder="Passwort widerholen" required name="password2"><br>        {{end}}
      </div>
      {{if eq .Password ``}}
      <div class="progress">
        <div class="progress-bar progress-bar-striped active progress-bar-danger" id="strength" role="progressbar" style="max-width:100%;min-width:20%">
          Schwach
        </div>
      </div>
      <div class="form-control-static" id="info">
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> GROSSBUCHSTABEN</div>
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> kleinbuchstaben</div>
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> 0123456789</div>
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> !?.#_+-"§$%&=</div>
      </div>
      {{else}}
      <div class="form-group">
        <a class="form-control-static" href="/pw?forgot=true" title="Falls Sie Email eingerichtet haben, werden Sie in kürze das Passwort erhalten. Bitte wechseln Sie es sofort. ">Passwort vergessen</a>
      </div>
      {{end}}
      <button {{if eq .Password ``}}disabled{{end}} class="btn btn-primary btn-block" type="submit">Einloggen</button>
      <a class="btn btn-danger btn-block" href="/exit">Programm Beenden</a>
    </form>
    {{if eq .Password ``}}
    <script>
      $("#password").keyup(changeFunc).keyup(function (e) {
        $str = $("#strength")
        val = $(this).val()
        uppercase = val.match(/[A-Z]/g)
        digits = val.match(/[0-9]/g)
        lowercase = val.match(/[a-z]/g)
        punctuation = val.match(/(\W|_)/g)
        len = val.length
        info = ""
        if (uppercase == null) {
          len *= 0.8
          info += `<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> GROSSBUCHSTABEN</div>`
        } else {
          info += `<div class="text-success"><span class="glyphicon glyphicon-ok"></span> GROSSBUCHSTABEN</div>`
        }
        if (lowercase == null) {
          len *= 0.8
          info += `<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> kleinbuchstaben</div>`
        } else {
          info += `<div class="text-success"><span class="glyphicon glyphicon-ok"></span> kleinbuchstaben</div>`
        }
        if (digits == null) {
          len *= 0.8
          info += `<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> 0123456789</div>`
        } else {
          info += `<div class="text-success"><span class="glyphicon glyphicon-ok"></span> 0123456789</div>`
        }
        if (punctuation == null) {
          len *= 0.8
          info += `<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> !?.#_+-"§$%&=</div>`
        } else {
          info += `<div class="text-success"><span class="glyphicon glyphicon-ok"></span> !?.#_+-"§$%&=</div>`
        }
        $("#info").html(info)
        $str.css("width", len * 10 + "%")
        $str.removeClass("progress-bar-danger").removeClass("progress-bar-warning").removeClass("progress-bar-success").removeClass("progress-bar-info")
        if (len <= 4) {
          $str.addClass("progress-bar-danger").html("Schwach")
        } else if (len <= 6) {
          $str.addClass("progress-bar-warning").html("Normal")
        } else if (len <= 8) {
          $str.addClass("progress-bar-info").html("Mittel")
        } else {
          $str.addClass("progress-bar-success").html("Stark")
        }
      })
      $("#password2").keyup(changeFunc)
      function changeFunc() {
        if ($("#password").val() == $("#password2").val() || $("#password").val() == "") {
          $(".form-group").addClass("form-control-success").removeClass("form-control-warning")
          $("[type=submit]").prop('disabled', false)
        } else {
          $(".form-group").addClass("form-control-warning").removeClass("form-control-success")
          $("[type=submit]").prop('disabled', true)
        }
      }
    </script>
    {{end}} {{end}}
  </div>

</body>

</html>