<!doctype html>
<html>

<head>
    <title>Einstellungen</title>
    {{template "imports"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Einstellungen</h1>
                <form action="/settings" class="form-horizontal" autocomplete="off">
                    {{with .Config.Settings}}
                       <div class="form-group">
                        <label for="openbrowser" class="control-label col-sm-2">Version</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{$.Version}}  <a href="/versioncheck" class="btn btn-default">Neue Version überprüfen</a></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="language" class="control-label col-sm-2">Sprache</label>
                        <div class="col-sm-10">
                            <select name="language" class="form-control">
                                <option value="english" {{if eq .Language `english`}}selected{{end}}>Englisch</option>
                                <option value="german" {{if eq .Language `german`}}selected{{end}}>Deutsch</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="openbrowser" class="control-label col-sm-2">Browser automatisch starten</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="openbrowser" {{if .OpenBrowser}}checked{{end}}>Standardbrowser</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="autoreload" class="control-label col-sm-2">Automatisch Seite neu laden</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="autoreload" {{if .AutomaticPageReload}}checked{{end}} >Neu laden nach 5 Minuten</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="autoscroll" class="control-label col-sm-2">Bildlauf</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="autoscroll" {{if .AutomaticScroll}}checked{{end}} >Bildlauf auf neuer Seite beibehalten</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="messages" class="control-label col-sm-2">Nachrichten</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="messages" {{if .ShowMessages}}checked{{end}} >Nachrichten anzeigen</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tips" class="control-label col-sm-2">Tipps</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="tips" {{if .Tips}}checked{{end}} >Tipps anzeigen</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-sm-2">Passwort</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="password" >Passwort zurücksetzen</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mail</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label title="Only applies to automatic Backups"><input type="checkbox" name="sendmail" {{if .Mail.SendAfterBackupComplete}}checked{{end}} >Senden von Emails erlauben</label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">SMTP Mail Einstellungen</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="hostname" placeholder="Hostname" value="{{.Mail.Hostname}}"><br>
                            <input class="form-control" type="number" name="port" placeholder="Port" value="{{.Mail.Port}}"><br>
                            <input class="form-control" type="text" name="username" placeholder="Benutzername" value="{{.Mail.Username}}"><br>
                            <input class="form-control" type="password" name="mailpassword" placeholder="Passwort" value="{{.Mail.Password}}"><br>
                            <input class="form-control" type="email" name="from" placeholder="Von (normalerweise gleich Benutzername)" value="{{.Mail.From}}"><br>
                            <input class="form-control" type="email" name="recipient" placeholder="Empfänger (normalerweise gleich Benutzername)" value="{{.Mail.Recipient}}"><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" type="submit" name="save" value="Save" title="Speichern"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-default" type="submit" name="save" value="Send" title="Falls Sie nach wenigen Sekunden keine Email sehen, überprüfen Sie Ihre Eingaben.">Speichern und Testmail senden</button>
                                <a class="btn btn-default" href="/settings" title="Abbrechen"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                    {{end}}
            </div>
        </div>
    </div>

</body>

</html>