<!doctype html>
<html>

<head>
    <title>Files</title>
    {{template "imports"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Files</h1>
                {{if .CurrentBackupJob.ID}}
                <a class="btn btn-primary" href="/editbackupjob?jobid={{.CurrentBackupJob.ID}}">Back</a><br><br>
                {{else if .CurrentRepo.ID}}
                <a class="btn btn-primary" href="/repository">Back</a><br><br>                
                {{end}}
                <form class="form form-inline" autocomplete="off">
                    <input type="hidden" name="repoid" value="{{.CurrentRepo.ID}}">
                    <input type="hidden" name="jobid" value="{{.CurrentBackupJob.ID}}">
                    <div class="input-group">
                        <span class="input-group-btn">
                        <a class="btn btn-primary" href="/filebrowser?curDir={{dir .CurrentDirectory}}&repoid={{.CurrentRepo.ID}}&jobid={{.CurrentBackupJob.ID}}" title="Up"> 
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </a>
                        </span>
                        <input type="text" name="curDir" value="{{.CurrentDirectory}}" title="Manually enter path" class="form-control">
                        <span class="input-group-btn">
                        <button type="submit"  class="btn btn-default" title="Change Directory">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" id="new" title="New Folder">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </button>
                        </span>
                    </div>
                </form>


                <h3>
                    <small>{{dir .CurrentDirectory}}</small> {{base .CurrentDirectory}}
                </h3>


               <ul class="files">
                    {{$repoid := .CurrentRepo.ID}} {{$repolocation := .CurrentRepo.Location}} {{$jobid := .CurrentBackupJob.ID}} 
                    {{$jobfiles := .CurrentBackupJob.Files}}
                    {{range .Files}} {{$contains := containsfile $jobfiles .Path}}
                    <li class="{{if not .FileInfo.IsDir}}file{{end}} not-select">
                        {{if $jobid}}{{if not $contains}} <span class="pointer" onclick="sendAjax('&jobid={{$jobid}}&files={{.Path}}',this)">☐</span>{{end}}{{end}}
                        {{if $jobid}}{{if $contains}}<span class="pointer" onclick="sendAjax('&jobid={{$jobid}}&files={{.Path}}',this)">☑</span>{{end}}{{end}}
                        <span class="pointer {{if not .WritePermission}}text-danger{{end}}" onclick="event.stopPropagation(); fetch('{{.Path}}',this,'{{$repoid}}','{{$jobid}}')">{{.FileInfo.Name}} </span>
                        {{if and .FileInfo.IsDir .WritePermission}}<span class="glyphicon glyphicon-plus-sign pointer padding-left" onclick="sendRawAjaxAndReload('/filebrowser?curDir={{.Path}}&repoid={{$repoid}}&jobid={{$jobid}}&new='+prompt('New folder name: ','New Folder'), '{{.Path}}',this,'{{$repoid}}','{{$jobid}}')"><span class="glyphicon glyphicon-plus-sign"></span></span>{{end}}                        {{if $repoid}}{{if ne $repolocation ``}} <a class="btn btn-default" href="/manualbackup?repoid={{$repoid}}&file={{.Path}}"> Manual Backup</a>{{else}}
                        <a
                            class="btn btn-primary" href="/newrepository?repoid={{$repoid}}&create=location&location={{.Path}}">Choose Location</a>{{end}}{{end}}
                            <span class="result"></span>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
<script>
    $("#new").click(function (e) {
        e.preventDefault()
        window.location.replace("/filebrowser?curDir={{.CurrentDirectory}}&repoid={{.CurrentRepo.ID}}&jobid={{.CurrentBackupJob.ID}}&new=" + prompt("New Folder name: ", "New Folder"))
        return false
    })
    function fetch(dir, that, repoid, jobid) {
        $li = $(that).closest("li")
        $this = $li.find(".result")
        if ($this.html() != "") {
            $this.html("")
            $li.removeClass("open")
            return
        }
        $.ajax({
            url: "/getdirectory?curDir=" + dir + "&repoid=" + repoid + "&jobid=" + jobid, success: function (result) {
                $this.html(result)
                $li.addClass("open")
            }
        })
    }
    function sendAjax(secondPartOfUrl, that) {
        $this = $(that)
        if ($this.html() == "☐") {
            $this.html("☑")
            $.ajax({
                url: "/editbackupjob?edit=add" + secondPartOfUrl, success: function (result) {
                }
            })
        } else {
            $this.html("☐")
            $.ajax({
                url: "/editbackupjob?edit=remove" + secondPartOfUrl, success: function (result) {
                }
            })
        }
    }

</script>


</body>

</html>