<!doctype html>
<html>

<head>
    <title>FuseNX</title>
    {{template "imports"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">FuseNX</h1>
                <p>Welcome to FuseNX</p>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/repository">Repositories</a></li>
                    <li class="list-group-item"><a href="/backupjob">Backup Jobs</a></li>
                    <li class="list-group-item"><a href="/settings">Settings</a></li>
                    <li class="list-group-item"><a href="/help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>