<!doctype html>
<html>

<head>
    <title>Create New Repository</title>
    {{template "imports"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Create New Repository</h1>
                <form action="/newrepository" class="form-horizontal" autocomplete="off">
                    {{if .Import}}<input type="hidden" value="true" name="import">{{end}}
                    <div class="form-group">
                        <label for="type" class="control-label col-sm-2">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="type" name="type">
                                <option value="local">Local</option>
                                <option value="sftp">SFTP</option>
                                <option value="rest">REST Server</option>
                                <option value="s3">Amazon S3</option>
                                <option value="minio">Minio Server</option>
                                <option value="swift">OpenStack Swift</option>
                                <option value="b2">Backblaze B2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-sm-2">Repository Password</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group" id="hide-envvar">
                        <label for="envvar" class="control-label col-sm-2">Environment Variables</label>
                        <div class="col-sm-10">
                            <input type="text" id="envvar" class="form-control" name="envvar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="control-label col-sm-2">Location</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" id="location" name="location" class="form-control" placeholder="C:\backup" title="Leave blank to choose files (local only)">
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" value="Create" name="create" title="local only" id="browse">Browse</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" type="submit" value="Create" name="create"><span class="glyphicon glyphicon-ok"></span></button>
                                <a class="btn btn-default" href="/repository"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                </form>
                <script>
                    $("#hide-envvar").hide()
                    $("#type").change(function () {
                        $this = $(this)
                        $tip = $("#tip")
                        $envgroup = $("#hide-envvar")
                        $env = $("#envvar")
                        if ($this.val() == "sftp") {
                            $tip.html("<p>Use <code>sftp:user@host:/path</code> as location for SFTP</p>")
                            $envgroup.hide()
                            $env.val("")
                        } else if ($this.val() == "rest") {
                            $tip.html("<p>Use <code>rest:http://host:8000/</code>, <code>rest:https://host:8000/</code>, <code>rest:https://user:pass@host:8000/</code> or <code>rest:https://user:pass@host:8000/path/</code> as location for REST</p>")
                            $envgroup.hide()
                            $env.val("")
                        } else if ($this.val() == "s3") {
                            $tip.html("<p>Use <code>s3:s3.amazonaws.com/bucket_name</code> as location for S3 and add <code>AWS_ACCESS_KEY_ID=MY_ACCESS_KEY,AWS_SECRET_ACCESS_KEY=MY_SECRET_ACCESS_KEY</code> to variables</p>")
                            $envgroup.show()
                            $env.val("AWS_ACCESS_KEY_ID=MY_ACCESS_KEY,AWS_SECRET_ACCESS_KEY=MY_SECRET_ACCESS_KEY")
                        } else if ($this.val() == "minio") {
                            $tip.html("<p>Use <code>s3:http://localhost:9000/restic</code> as location for Minio and add <code>AWS_ACCESS_KEY_ID=MY_ACCESS_KEY,AWS_SECRET_ACCESS_KEY=MY_SECRET_ACCESS_KEY</code> to variables</p>")
                            $envgroup.show()
                            $env.val("AWS_ACCESS_KEY_ID=MY_ACCESS_KEY,AWS_SECRET_ACCESS_KEY=MY_SECRET_ACCESS_KEY")
                        } else if ($this.val() == "swift") {
                            $tip.html("<p>Use <code>swift:container_name:/path</code> as location for Swift and add <code>ST_AUTH=MY_AUTH_URL,ST_USER=MY_USER_NAME,ST_KEY=MY_USER_PASSWORD</code> to variables</p>")
                            $envgroup.show()
                            $env.val("ST_AUTH=MY_AUTH_URL,ST_USER=MY_USER_NAME,ST_KEY=MY_USER_PASSWORD")
                        } else if ($this.val() == "b2") {
                            $tip.html("<p>Use <code>b2:bucketname:path/</code> as location for B2 and add <code>B2_ACCOUNT_ID=MY_ACCOUNT_ID,B2_ACCOUNT_KEY=MY_SECRET_ACCOUNT_KEY</code> to variables</p>")
                            $envgroup.show()
                            $env.val("B2_ACCOUNT_ID=MY_ACCOUNT_ID,B2_ACCOUNT_KEY=MY_SECRET_ACCOUNT_KEY")
                        } else {
                            $tip.html("")
                            $envgroup.hide()
                            $env.val("")
                        }
                    })
                    
                    $("#browse").click(function(){
                        $("#location").val("");
                    })
                </script>
            </div>
        </div>
    </div>
</body>

</html>