<!doctype html>
<html>

<head>
    <title>{{if not .Import}}Create New Repository{{else}}Import Repository{{end}}</title>
    {{template "imports"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">{{if not .Import}}Create New Repository{{else}}Import Repository{{end}}</h1>
                <form action="/newrepository" class="form-horizontal" autocomplete="off">
                    {{if .Import}}<input type="hidden" value="true" name="import">{{end}}
                    <div class="form-group">
                        <label for="type" class="control-label col-sm-2">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="type" name="type">
                                <option value="local">Local</option>
                                <option value="sftp">SFTP</option>
                                <option value="s3" selected>S3 Amazon like</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-2">Repository Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-sm-2">Repository Password</label>
                        <div class="col-sm-10">
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="control-label col-sm-2">Location</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" id="location" name="location" class="form-control" placeholder="C:\backup" title="Leave blank to choose files (local only)">
                                <span class="input-group-btn" id="browsespan">
                                <button class="btn btn-primary" type="submit" value="Create" name="create" title="local only" id="browse">Browse</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="s3values">
                        <div class="form-group">
                            <label for="access" class="control-label col-sm-2">S3 Access Key</label>
                            <div class="col-sm-10">
                                <input type="text" name="access" id="access" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="secret" class="control-label col-sm-2">S3 Secret Access Key</label>
                            <div class="col-sm-10">
                                <input type="text" name="secret" id="secret" class="form-control" required>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary" type="submit" value="Create" name="create"><span class="glyphicon glyphicon-ok"></span></button>
                                <a class="btn btn-default" href="/repository"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="tip"></div>
                <script>
                    $tip = $("#tip")
                    $s3values = $("#s3values")
                    $s3inputfileds = $("#access, #secret")
                    $browse = $("#browsespan")
                    $browseGroup = $browse.parent()
                    $location =  $("#location")

                    $browse.hide()
                    $browseGroup.removeClass("input-group")
                    $location.attr("required",true)
                    $location.attr("placeholder","s3.amazonaws.com/bucket-name or http://localhost:9000/bucket-name")

                    $("#type").change(function () {
                        $this = $(this)                        
                        if ($this.val() == "sftp") {
                            $tip.html("<p>Use <code>user@host:/path</code> as location for SFTP</p>")
                            $s3values.hide()
                            $s3inputfileds.removeAttr("required")
                            $browse.show()
                            $browseGroup.addClass("input-group")
                            $location.removeAttr("required")
                            $location.attr("placeholder","user@host:/path")
                        } else if ($this.val() == "s3") {
                            $tip.html("<p>Use <code>s3.amazonaws.com/bucket_name</code> as location for S3 and add <code>AWS_ACCESS_KEY_ID=MY_ACCESS_KEY,AWS_SECRET_ACCESS_KEY=MY_SECRET_ACCESS_KEY</code> to variables</p>")
                            $s3values.show()
                            $s3inputfileds.attr("required",true)
                            $browse.hide()
                            $browseGroup.removeClass("input-group")
                            $location.attr("required",true)                  
                            $location.attr("placeholder","s3.amazonaws.com/bucket-name or http://localhost:9000/bucket-name")   
                        } else {
                            $tip.html("")
                            $s3values.hide()
                            $s3inputfileds.removeAttr("required")
                            $browse.show()
                            $browseGroup.addClass("input-group")
                            $location.removeAttr("required")           
                            $location.attr("placeholder","C:\\path")                 
                        }
                    })
                    
                    $("#browse").click(function(){
                        if( $("#type").val() != "local" )
                            return
                       $location.val("");
                    })
                </script>
            </div>
        </div>
    </div>
</body>

</html>