<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password</title>
  {{template "imports"}}
</head>

<body class="password-body">
  {{template "navbar" .}}
  <div class="container well password">
    <div class="text-center text-muted">{{if .IsAdmin}}You are an administrator {{else}} You are not an administrator{{end}}</div>
    <img class="eitea-pw-logo" alt="Logo" src="/staticfiles/logo.png">
    {{with .Config.Settings}}
    <form class="form" method="POST" autocomplete="off">
      <h2 class="">{{if eq .Password ``}}Create Password{{else}}Please sign in{{end}}</h2>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" required autofocus name="password"><br>        {{if eq .Password ``}}
        <input type="password" class="form-control" id="password2" placeholder="Repeat Password" required name="password2"><br>        {{end}}
      </div>
      {{if eq .Password ``}}
      <div class="progress">
        <div class="progress-bar progress-bar-striped active progress-bar-danger" id="strength" role="progressbar" style="max-width:100%;min-width:15%">
          Weak
        </div>
      </div>
      <div class="form-control-static" id="info">
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> UPPERCASE</div>
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> lowercase</div>
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> 0123456789</div>
        <div class="text-danger"><span class="glyphicon glyphicon-remove"></span> !?.#_+-"§$%=</div>
      </div>
      {{else}}
      <div class="form-group">
        <a class="form-control-static" href="/pw?forgot=true" title="If you have set up email, you will get your password in a few seconds. Please change it immediately in the settings. ">Forgot Password</a>
      </div>
      {{end}}
      <button {{if eq .Password ``}}disabled{{end}} class="btn btn-primary btn-block" type="submit">Sign in</button>
      <a class="btn btn-danger btn-block" href="/exit">Exit</a>
    </form>
    {{if eq .Password ``}}
    <script>
      $("#password").keyup(changeFunc).keyup(function (e) {
        $str = $("#strength")
        val = $(this).val()
        uppercase = val.match(/[A-Z]/g)
        digits = val.match(/[0-9]/g)
        lowercase = val.match(/[a-z]/g)
        punctuation = val.match(/(\W|_)/g)
        len = val.length
        info = ""
        if (uppercase == null) {
          len *= 0.8
          info += '<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> UPPERCASE</div>'
        } else {
          info += '<div class="text-success"><span class="glyphicon glyphicon-ok"></span> UPPERCASE</div>'
        }
        if (lowercase == null) {
          len *= 0.8
          info += '<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> lowercase</div>'
        } else {
          info += '<div class="text-success"><span class="glyphicon glyphicon-ok"></span> lowercase</div>'
        }
        if (digits == null) {
          len *= 0.8
          info += '<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> 0123456789</div>'
        } else {
          info += '<div class="text-success"><span class="glyphicon glyphicon-ok"></span> 0123456789</div>'
        }
        if (punctuation == null) {
          len *= 0.8
          info += '<div class="text-danger"><span class="glyphicon glyphicon-remove"></span> !?.#_+-"§$%=</div>'
        } else {
          info += '<div class="text-success"><span class="glyphicon glyphicon-ok"></span> !?.#_+-"§$%=</div>'
        }
        $("#info").html(info)
        $str.css("width", len * 10 + "%")
        $str.removeClass("progress-bar-danger").removeClass("progress-bar-warning").removeClass("progress-bar-success").removeClass("progress-bar-info")
        if (len <= 4) {
          $str.addClass("progress-bar-danger").html("Weak")
        } else if (len <= 6) {
          $str.addClass("progress-bar-warning").html("Normal")
        } else if (len <= 8) {
          $str.addClass("progress-bar-info").html("Medium")
        } else {
          $str.addClass("progress-bar-success").html("Strong")
        }
      })
      $("#password2").keyup(changeFunc)
      function changeFunc() {
        if ($("#password").val() == $("#password2").val() || $("#password").val() == "") {
          $(".form-group").addClass("form-control-success").removeClass("form-control-warning")
          $("[type=submit]").prop('disabled', false).html("Sign in")
        } else {
          $(".form-group").addClass("form-control-warning").removeClass("form-control-success")
          $("[type=submit]").prop('disabled', true).html("Passwords don't match")
        }
      }
    </script>
    {{end}} {{end}}
  </div>

</body>

</html>